@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------------------------------------------*/
.container {
  position: absolute;
  width: 33%;
  right: 12%;
  top: 20%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -20px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.present-page2__button, .present-page1__button2, .present-page1__button1, .content-page1__button-zapis, .content-page1__button-choose, .nav__freetrain {
  border: 1px solid #DF0001;
  border-radius: 15px;
  background-color: #DF0001;
  padding: 8px 15px;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
}

.wrapper {
  width: 100%;
}

.nav {
  z-index: 2;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  height: 7vh;
  position: fixed;
  display: flex;
  flex-direction: row;
}
.nav__logopic {
  position: absolute;
  left: 12%;
  top: 15%;
}
.nav__logoname {
  position: absolute;
  left: 15%;
  top: 45%;
  display: inline-block;
}
.nav__vk {
  position: absolute;
  left: 45%;
  top: 10%;
  display: inline-block;
}
.nav__telegram {
  left: 48%;
  top: 15%;
  position: absolute;
  display: inline-block;
}
.nav__number {
  position: absolute;
  left: 52%;
  top: 12%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.nav__freetrain {
  position: absolute;
  left: 65%;
  top: 8%;
}

.first-fullscreen-page {
  position: relative;
  height: 100vh;
  background-image: url(../img/picPAGE/back.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}

.menu {
  position: absolute;
  margin: 0 10%;
  top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
}
.menu__item {
  margin: 0 2vw;
  text-decoration: none;
  color: white;
}

.content-page1 {
  position: absolute;
  top: 200px;
  left: 12vw;
}
.content-page1__main {
  width: 60%;
  margin-bottom: 100px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}
.content-page1__secondary {
  width: 60%;
  margin-bottom: 100px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.content-page1__button-choose {
  background-color: rgba(0, 0, 0, 0);
  border-color: white;
  margin-right: 20px;
  border: solid 2px;
  width: 150px;
}
.content-page1__button-zapis {
  background-color: rgba(0, 0, 0, 0);
  border-color: white;
  border: solid 2px;
  width: 150px;
}

.present-page1 {
  background-color: #F3F3F3;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.present-page1__titletwise {
  position: absolute;
  width: 76%;
  top: 20px;
}
.present-page1__back-text {
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 130px;
  line-height: 116px;
  color: rgba(168, 161, 161, 0.53);
}
.present-page1__front-text {
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 39px;
  color: #000000;
  margin: 68px 0px 0px 5px;
}
.present-page1__picture {
  position: absolute;
  margin: 0 auto;
  top: 180px;
}
.present-page1__img {
  margin: 0 auto;
  display: block;
}
.present-page1__button1 {
  position: absolute;
  display: block;
  top: 520px;
}
.present-page1__button2 {
  position: absolute;
  display: block;
  top: 600px;
}
.present-page1__bottom-line {
  position: absolute;
  width: 800px;
  top: 670px;
  border-bottom: 1px solid #D1CDCD;
}

.present-page2 {
  position: relative;
  height: 100vh;
  background-color: #F3F3F3;
}
.present-page2__titletwise {
  position: absolute;
  width: 76%;
  top: 20px;
  left: 12%;
}
.present-page2__content {
  position: absolute;
  top: 300px;
  width: 30%;
  left: 12%;
}
.present-page2__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 27px;
  margin-bottom: 50px;
}
.present-page2__main-content {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 27px;
}
.present-page2__button {
  margin-top: 20px;
  padding: 20px 60px;
}

.all-club {
  min-height: 100vh;
}