@import "_zero";
@import "slaydShow";  //! не забыть вернуть 
// @import "slaydShow-second";
$main-color: #DF0001; //главный цвет
// !создание шаблонов - записывается как обычный класс, но в начале ставится % (название любое)
// !далее, чтобы его применить пишем @extend и название шаблона, например:
%button{ 
    
    border: 1px solid $main-color;
    border-radius: 15px;
    background-color: $main-color ;
    padding: 8px 15px;
    color: white;
    // --------------
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 19px;
}
// шаблон должен ставиться до изменённого кода
// далее в обычном классе можно эти параметры изменять
// ! создание миксинов ------------ЕЩЁ РАНО ВСЁ ТАКИ, НУЖНО ОСВОИТЬ ПРЕДЫДУЩЕЕ
// @mixin
.wrapper {
    width: 100%;
}
// !нужно заменить картинки соразмерными, настроить их 
.nav {
    
    z-index: 4;
width: 100%;
color: white;
background-color: rgba(0, 0, 0, 0.5);
height: 7vh;
// opacity: 0.6;
position: fixed;
display: flex;
flex-direction: row;
    &__logopic {
        position: absolute;
    left: 12%;
    top: 15%;
 
    } 
    &__logoname {
        position: absolute;
        left: 15%;
        // margin: -5px 0px 0px 250px; 
        top: 45%;
        display: inline-block;
        // но лучше сделать отступы к центру через что-то другое
 
    }

    &__vk {
        position: absolute;
        left: 45%; 
        top: 10%;
        // padding-left: -300px;
        display: inline-block;
    }

    &__telegram {
        left: 48%; 
        top: 15%;
       
        position: absolute;
    display: inline-block;

    }

    &__number {
        
        position: absolute;
        left: 52%;
        top: 12%;
        // -------------
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        }

    &__freetrain {
@extend %button;
        position: absolute;
        left:65%;
        top: 8%;

    }
}








.first-fullscreen-page {
    position: relative;
    height: 100vh;
    background-image: url(../img/picPAGE/back.jpg);
    background-position: 0 0;
background-repeat: no-repeat;
background-size: 100% 100%;
color: white;
}
.menu {
    position: absolute;
// left: 10%;
margin: 0 10%;

top: 100px;
display: flex;
flex-direction: row;
justify-content: center;
// оформление
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 18px;
		&__item {
            margin: 0 2vw; // ширина, процент от экрана
            text-decoration: none;
            color: white;
            
		}
}
.content-page1 {
    position: absolute;
    top: 200px;
    left: 12vw;

		&__main {
            // position: absolute;
            // top: 200px;
            // margin:0 ;
            // left: 12vw;
            width: 60%;
            margin-bottom: 100px;
            // -----------------
            font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;

            
		}

		&__secondary {
            // display: block;
            // position: absolute;
            // top: 200px; 
            // left: 12vw;
            width: 60%;
            // ----------------
            margin-bottom: 100px;
            font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
		}
        &__button-choose {
            @extend %button;
            // background-color: none;
            background-color:  rgba(0, 0, 0, 0);
            border-color: white;
            margin-right: 20px;
            border: solid 2px;
            width: 150px;
        }
        &__button-zapis {
            @extend %button;
            background-color:  rgba(0, 0, 0, 0);
            border-color: white;
            border: solid 2px;
            width: 150px;
        }
}
.present-page1 {
    background-color: #F3F3F3;
    min-height: 100vh;
    position: relative;
   
    display: flex;
    align-items: center;
  justify-content: center;
&__titletwise{
    position: absolute;
    width: 76%;
    top: 20px;
}
    &__back-text {
        // display: inline-block;
        position: absolute;
        font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 120px;
line-height: 116px;

color: rgba(168, 161, 161, 0.53);
    }
    &__front-text {
        position: absolute;
        font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 39px;

color: #000000;
margin: 68px 0px 0px 5px;

    }

    &__picture {
        position: absolute;
        margin: 0 auto;
        top: 180px;
       
    }
    &__img{
        margin: 0 auto;
        display: block;
   
    }

    &__button1 {
        position: absolute;
        display: block;
        top: 520px;
        @extend %button;
    }

    &__button2 {
        position: absolute; 
        display: block;
        top: 600px;
        @extend %button;
        
    }
    &__bottom-line{
        position: absolute;
        width: 800px;
        top: 670px;
        border-bottom: 1px solid #D1CDCD;
    }
}

.present-page2 {
    
    position: relative;
    height: 100vh;
    background-color: #F3F3F3;
    // background-color:yellowgreen ;
&__titletwise{
    position: absolute;
    width: 76%;
    top: 20px;
    left: 12%;
}
    &__content {
        position: absolute;
        top: 300px;
        width: 30%;
        left: 12%;
    }

    &__title {
        // position: absolute;
        font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 27px;
margin-bottom: 50px;
    }

    &__main-content {
        // position: absolute;
        // top: 20px;
        font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 27px;
    }
    &__button {
        // position: absolute;
       
        @extend %button;
        padding: 20px 60px;
        margin-top: 20px;
    }
}
// !вышла слишком не правильно по структуре и поэтому много лишнего
.clubs{
    min-height: 100vh;
    background-color: black;
    position: relative;
}
.all-club {
    min-height: 100vh;
    // background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    // line-height: 100px;
    // &:last-child{
    //     display: flex;
    //     flex-direction: column;
    //     // justify-content:center;
    //     top: 100px;
    // }
 
}

.all-club:first-child{
    // position: relative;
//    display: block;
//    flex-direction: none;
//    justify-content: none;

}
.title {

    position: absolute;
    top: 5%;
width: 76%;
left: 12%;
color: white;
    &__main-title {
        font-weight: 700;
font-size: 32px;
line-height: 39px;
    }

    &__secondary-title {
        font-weight: 400;
        font-size: 19px;
        margin-top: 10px;
    }
}

.all-content{
    position: absolute;
    // text-align: center;
    // float: 12%;
    left: 12%;
   display: grid;
   grid-template: repeat(2,auto) / repeat(4,auto); 
   grid-gap: 1% 1%;  // задаём отсутпы между колонками 

   width: 76%;


   
}

.set {
    display: block;
    background-color: white;
    // background-color: red;
    border-radius: 5%;
    
    
// position: absolute; 
// top: 100px;
// left: 200px;
width: 100%;
height: 100%;
		&__card {
            margin-left: 10px;
            // width: 60%;
            // padding-right: -20px;
            // border: 2px solid black;
            // border-radius: 10%;
		}

		&__position {
            position: relative;
            display:block;
            margin-bottom: 20px;
            // margin-left: 20px;
            
		}

		&__pic {
            display: inline;
    //         display: table-cell;
    // vertical-align: middle;
		}

		&__name-place {
            position: absolute;
            display:inline;
            top: 40%;
            left: 25%;
    //         display: table-cell;
    // vertical-align: middle;
    
        
            // margin-top: 5px;
            // top: 50%;
            // text-align: center;
            font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 18px;
            
		}

		&__content {
            // display: inline-block;
            margin-bottom: 20px;
            // margin-left: 10px;
            font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 15px;
		}

		&__number {
            // display: inline-block;
            margin-bottom: 20px;
            // margin-left: 10px;
            font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 15px;
		}

		&__button {
            @extend %button;
            display: inline-block;
            text-align: center;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0);
            color: #000000;
            border: 1px solid black;
            margin: 20px 0 40px 20px;
            padding: 5px 20px;
            a{
                text-decoration: none;
                color: #000000;
            }
		}
       
      
}
.poisk-na-karte{
    position: absolute;
    z-index: 1;
    @extend %button;
    // vertical-align: text-bottom;
    display: inline-block;
    // vertical-align: center;
    // flex-direction: column;
    // justify-content: center;
    // margin-top: 300px;
    // text-align: center;
    margin:0 auto;
    // text-align: center;
    top: 90%;
    left: 44%;
    // left:50%;
// transform:translate(-90%, -44%);
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // top: 700px;
// +поднастроить кнопку по размерам
// !здесь не правильно сделал, лучше закинуть это сразу после контента, а не отдельно на страницу
// !и сделать как-то, чтобы после закидывания это не был элемент grid-контейнера
a{
    text-decoration: none;
    color: white;
}
}
// ! в будущем стоит найти другой подход к построению таких страниц




.present-page3 {
    position: relative;
    height: 100vh;
    background-color: #F3F3F3;
    &__titletwise {
        position: absolute;
        width: 76%;
        top: 20px;
        left: 12%;
    }

    &__content {
        position: absolute;
        top: 300px;
        width: 30%;
        right: 12%;

    }

    &__title {
        font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 27px;
margin-bottom: 50px;
    }

    &__main-content {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 25px;
        line-height: 27px;
    }

    &__button {
        @extend %button;
        padding: 20px 60px;
        margin-top: 20px;
    }
}
// я всё сломал...

.present-page4 {
min-height: 100vh;
background-color: #DF0001;
    &__all-blocks {
    }

    &__block {
    }

    &__block-pic {
    }

    &__block-content {
    }

    &__block-content-title {
    }

    &__block-content-text {
    }
}




