@import "_header"; // обычно мы бы указывали полное расширение, но т.к. добавили подчёркивание в начале и в названии файла,
// то нового файла в формате css создаваться не будет и все данные будут перемещаться в единый файл css
@import "_zeroall";

body {
    background-color: red;
    font-size: 20px;

    li {
        font-size: 20px;
        color: green;
    }
}
.hui{
    color: bisque;
}